.branding{
  font-size: 22px;
  font-family: 'Playfair Display', serif;
}

.logo{
  padding: 5px 5px;
}

.showcase{
  background:url('../img/old-wood.png') no-repeat;
  background-position: center;
  height: 600px;
  padding: 140px 100px;
  color: #fff;
}

.showcase h1{
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}

.showcase hr{
  width: 100px;
  margin:auto;
  border-width: 3px;
  border-color: #fff;
}

.showcase p{
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  padding-bottom: 20px;
}

.section{
  padding: 40px 0px;
}

.section h2{
  padding: 0px;
  margin: 0px;
}

.section .fa{
  font-size: 50px;
}

.section img{
  width: 100%;
}

@media only screen and (max-width:600px){
  body{
    margin-top: 190px;
  }

  .showcase{
    height: 400px;
    padding: 60px 0px;
  }
}
